/* CSS Reset */
*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height:50px;
}
#navbar{
    display: flex;
    align-items: center;
}

/* Navgation bar: Logo and images */
#logo{
    margin: 10px 12px;
}

#logo img{
    margin: 3px 5px;
    height: 50px;
}

/* Navigation bar:List styling */
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.98;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family:'Orelega One', cursive;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}


/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: -50px 180px;
    height: 430px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/u7.jpg) no-repeat center center/cover ;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-size: 3.0rem;
    font-family:'Baloo Bhai 2', cursive;;
}

#home p{
    color:white;
    text-align: center;
    font-size:1.0rem;
    font-family:'Orelega One', cursive;
}

/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 16px 22px;
    border-radius: 28px;
    background: #f3bfbf;
    margin-bottom: 20px;
    box-shadow: 6px 6px 6px;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
 }

 #services .box p{
    font-family:'Orelega One', cursive;
 }


 /* client section */

 #client-section{
     height: 222px;
 }

 #client-section h1{
     text-align: center;
     font-size: 2.5rem;
     font-family:'Orelega One', cursive;

 }
 
#client-section::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 60%;
     z-index: -1;
     opacity: 0.5;
 }


#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    padding:11px;
}
.client-item{
    padding: 34px;
}

#clients img{
   height: 124px;
}

/* contact section */
#contact{
position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/contact.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px;
}
#contact-box input{
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px 2px;
}
#contact-box form{
    width: 45%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Orelega One', cursive;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility classes */
.primary{
    font-size: 2.5rem;
    padding: 30px;
    text-align: center;
    font-family:'Baloo Bhai 2', cursive;
}

.secondary-center{
    font-size: 1.5rem;
    padding: 12px;
    font-family:'Baloo Bhai 2', cursive;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(27, 26, 25);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: rgb(3, 219, 219);
}
.center{
    text-align: center;
}